section{
    display: flex;
}
section .favor_nav{
    background: #E0E0E0;
    width: 16%;
    height: 100%;
}
section .favor_bar{
    background: #E0E0E0;
}
section .favor_bar img{
    width: 30px;
    margin: 5px 10px;
}
section .favor_search{
    background: white;
    display: flex;
}
section .favor_search img{
    width: 30px;
    height: 30px;
    margin: 5px 5px 5px 10px;
}
section .favor_search input{
    width: 120px;
    margin: 8px auto;
    border: none;
    border-bottom: 1px solid black;
}
section .favor_subject1{
    background: #F2C94C;
}
section .favor_subject2{
    background: #6FCF97;
}
section .favor_subject1 .title{
    display: flex;
    padding: 0 0 0 10px;
}
section .favor_subject1 .title input{
    width: 80%;
    height: 20px;
    background: none;
    border: none;
    border-bottom: 1px solid black;
    padding: 0 10px;
    margin-top: 15px;
    outline: none;
    font-size: 1.2em;
}
section .favor_subject1 .title img{
    width: 30px;
}
#map {
    width: 84%;
    height: 100%;
    background-color: grey;
}