section{
    left: 360px;
    width: 72.4%;
}
.favor_nav{
    background: #E0E0E0;
    width: 180px;
    height: 92.6%;
    position: fixed;
    top: 50px;
    left: 180px;
}
.favor_nav .favor_bar{
    background: #E0E0E0;
}
.favor_nav .favor_search{
    background: white;
}
.favor_nav .favor_subject1{
    background: #F2C94C;
}
.favor_nav .favor_subject2{
    background: #6FCF97;
}

#map {
    width: 100%;
    height: 100%;
    background-color: grey;
}