/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 2017/11/16, 下午 01:45:39
    Author     : Andy_Wang
*/
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
header{
    background: black;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
header .setting{
    width: 20px;
    cursor: pointer;
    transition-duration: 0.5s;
    position: absolute;
    top: 23px;
    left: 1205px;
}
header .login{
    width: 40px;
    cursor: pointer;
    transition-duration: 0.5s;
    position: absolute;
    top: 6px;
    left: 1230px;
}

header .pagename{
    position: absolute;
    top: 10px;
    left: 100px;
    color: white;
    font-size: 1.5em;
    font-family: 'Amaranth', sans-serif;
}
header .menu{
    position: absolute;
    left: 20px;
    top: 5px;
    width: 40px;
    cursor: pointer;
    transition-duration: 0.5s;
}
header .logo{
    width: 50px;
    position: absolute;
    top: 5px;
    left: 550px;
    animation-name: logo_example;
    animation-duration: 20s;
    animation-iteration-count: 1;
}
@keyframes logo_example {
    0%   {left:550px;}
    20% {left:400px;}
    21% {transform: rotateY(180deg);}
    60% {left: 1000px;}
    61% {transform: rotateY(0deg);}
    100%{left: 550px;}
}
header .logoname{
    color: white;
    font-size: 2.8em;
    font-family: 'Orbitron', sans-serif;
    position: absolute;
    top: 0;
    left: 610px;
}
header .menu:hover{
    opacity: 0.7;
}
header .setting:hover{
    opacity: 0.7;
}
header .login:hover{
    opacity: 0.7;
}

nav{
    background: #BDBDBD;
    width: 180px;
    height: 92.6%;
    position: fixed;
    top: 50px
}
nav div{
    font-size: 1em;
    border-radius: 2px;
    background: white;
    margin: 15px 25px;
    text-align: center;
    display: flex;
    font-family: 'Amaranth', sans-serif;
    cursor: pointer;
    transition-duration: 0.5s;
}
nav .home img{
    margin-left: 25px;
    width: 30px;
    transition-duration: 0.5s;
}
nav .home{
    margin-top: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
nav div:hover{
    background: #FFD306;
    margin: 40px 10px;
    padding: 10px 0;
}
nav .home:hover img{
    width: 45px;
    margin-left: 15px;
    transition-duration: 0.5s;
}
nav .home div{
    margin: 0;
    padding: 15px 5px;
    background: none;
}

nav .plantrip img{
    margin-left: 20px;
    width: 30px;
    transition-duration: 0.5s;
}
nav .plantrip{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
nav .plantrip div{
    margin: 0;
    padding: 15px 5px;
    background: none;
}
nav .plantrip:hover img{
    width: 45px;
    margin-left: 15px;
    transition-duration: 0.5s;
}

nav .star img{
    margin-left: 20px;
    width: 30px;
    transition-duration: 0.5s;
}
nav .star{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
nav .star div{
    margin: 0;
    padding: 15px 5px;
    background: none;
}
nav .star:hover img{
    width: 45px;
    margin-left: 15px;
    transition-duration: 0.5s;
}

nav .thumb img{
    margin-left: 22px;
    width: 30px;
    transition-duration: 0.5s;
}
nav .thumb{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
nav .thumb div{
    margin: 0;
    padding: 15px 5px;
    background: none;
}
nav .thumb:hover img{
    width: 45px;
    margin-left: 15px;
    transition-duration: 0.5s;
}

nav .email img{
    margin-left: 23px;
    width: 30px;
    transition-duration: 0.5s;
}
nav .email{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
nav .email div{
    margin: 0;
    padding: 15px 5px;
    background: none;
}
nav .email:hover img{
    width: 45px;
    margin-left: 15px;
    transition-duration: 0.5s;
}

nav .phone img{
    margin-left: 25px;
    width: 30px;
    transition-duration: 0.5s;
}
nav .phone{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
nav .phone div{
    margin: 0;
    padding: 15px 5px;
    background: none;
}
nav .phone:hover img{
    width: 45px;
    margin-left: 15px;
    transition-duration: 0.5s;
}

section{
    background: #6FCF97;
    position: fixed;
    top: 50px;
    left: 180px;
    width: 86.8%;
    height: 92.6%;
}